$gray: #828282;
$light-gray: #e0e0e0;
$white: #ffffff;
$black: black;
$cyan: #00ADB5;
$red: red;
$floralwhite:floralwhite;
$ghostwhite:ghostwhite;
$lightslategrey:lightslategrey;
$lightcyan:lightcyan;
$blanchedalmond:blanchedalmond;
