<div class="top-menu">
  <div class="nav-left">
    <span class="site-logo">Y</span>
    <a href="#" class="nav-link bold">Hacker News</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link" (click)="getTopNews()">Top News</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link" (click)="getLatestNews()">Latest News</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link">comments</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link">ask</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link">show</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link">jobs</a>
    <span class="nav-divider">|</span>
    <a href="#" class="nav-link">submit</a>
  </div>

  <div class="nav-right">
    <a href="#">login</a>
  </div>
</div>
