@use '../../../styles/variables' as *;

.top-menu {
  background-color: $black;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.site-logo {
  border: 1px solid $white;
  color: $white;
  font-weight: bold;
  padding: 2px 5px;
  line-height: 1;
  padding: 15px 17px 15px 15px;
  margin: 10px 29px 10px 1px;

}

.nav-link {
  color: $cyan;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.active {
  color: $white;
  font-weight: bold;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link.bold {
  font-weight: bold;
}

.nav-divider {
  color: $white;
}

.nav-right a {
  color: $cyan;
  text-decoration: none;
}
