<div class="news-item" [ngClass]="isStoryType ? 'story-type' : 'job-type'">
  <div class="item-rank">{{ itemIndex }}.</div>
  <div class="item-content">
    <div class="item-title">
      <a href="#" (click)="onClick(newsItem.url)">{{
        newsItem.title | newsTitle : newsItem.url
      }}</a>
    </div>
    <div class="item-meta">
      <span class="meta-score">{{ newsItem.score }} points</span> by
      <a href="#" class="meta-link">
        {{ newsItem.type }} by {{ newsItem.by }}</a
      >
      <span class="meta-separator">|</span>
      <span class="meta-time">{{ newsItem.time | dateInWords }}</span>
      <span class="meta-separator">|</span>
      <a href="#" class="meta-link">
        <div *ngIf="newsItem.descendants > 0">
          {{ newsItem.descendants }} comments
        </div>
        <div *ngIf="newsItem.descendants === 0">discuss</div>
      </a>
    </div>
  </div>
</div>
