@use '../../../styles/variables' as *;

.news-item {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 10px;
  border-bottom: 1px solid $light-gray;
  margin: 7px;
  padding-bottom: 10px;
  background-color: $ghostwhite;
  border-radius: 10px;
  padding-top: 12px;
  box-shadow: 0 2px 3px $lightslategrey;
}

.job-type {
  background-color: $blanchedalmond;
}

.item-rank {
  text-align: right;
  padding-top: 3px;
}

.item-content {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3px;
}

.item-title a {
  color: $black;
  text-decoration: none;
}

.item-title a:hover {
  text-decoration: underline;
}

.item-meta {
  font-size: 0.8em;
  color: $gray;
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.meta-link {
  color: $gray;
  text-decoration: none;
}
